.quote-container{
	margin-bottom: 150px;
}
.icon-comment{
    border: 2px solid #95E1D4;
    padding: 40px;
}
.user-comment{
	overflow: hidden;
	padding-left: 30px;
	text-align: left;
}
.user-comment .quote{
	font-family: 'roboto-lightitalic';
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 30px;
}
.fa-comments{
	font-size: 60px;
	color: #95E1D4;
}
.user-line{
	background: #F38181;
    margin-left: 25px;
}
.user-name{
	font-family: 'kaushan-regular';
	margin-left: 5px;
}
