.service-photography{
	margin-top: 95px;
}
.block-icon{
	text-align: left;
    margin-left: 18px;
}
.block-icon .icon-text{
	font-size: 14px;
    font-family: 'mont-regular';
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
}
.block-icon .icon-photography{
	color: #95E1D4;
    font-size: 30px;
    float: left;
}
.text-photography{
	font-family: 'roboto-lightitalic';
	font-size: 14px;
	text-align: left;
	border: 1px solid #F0F0F0;
    border-top: none;
    padding: 20px;
    height: 321px;
    display: block;
}
.block-photography{
	border: 1px solid #F0F0F0;
    padding-top: 10px;
    padding-bottom: 15px;
}