.story-container{
	margin-bottom: 105px;
}
.block-intro-base{
	font-family: 'kaushan-regular';
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    display: block
}
.block-intro-line{
	font-family: 'mont-bold';
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.intro-line{
    margin-bottom: 35px;
    background: #F38181;
}
p{
	font-family: 'roboto-regular';
	color: #999999;
	font-size: 15px;
	line-height: 25px;
}
.block-intro-images{
	margin-top: 100px;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.first-image{
	padding-top: 100px;
	background-image: url(images/story1.jpg);
	background: linear-gradient(to bottom, #e88182 0%,#e68282 6%,#e88484 6%,#e88781 11%,#e99185 22%,#ea9483 28%,#eb9984 30%,#eaa885 47%,#edaf86 51%,#ebb285 55%,#edb487 56%,#edc588 74%,#f0c88a 74%,#f1ca89 76%,#efce87 83%,#f1d188 85%,#eed98a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88182', endColorstr='#eed98a',GradientType=0 ); /* IE6-9 */
}
.second-image{	
    padding-top: 216px;
    background-image: url(images/member1.jpg);
    background: linear-gradient(to bottom, #e88182 0%,#e68282 6%,#e88484 6%,#e88781 11%,#e99185 22%,#ea9483 28%,#eb9984 30%,#eaa885 47%,#edaf86 51%,#ebb285 55%,#edb487 56%,#edc588 74%,#f0c88a 74%,#f1ca89 76%,#efce87 83%,#f1d188 85%,#eed98a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88182', endColorstr='#eed98a',GradientType=0 ); /* IE6-9 */
 }
 .third-image{
 	background-image: url(images/work4.jpg);
 	background: linear-gradient(to bottom, #e88182 0%,#e68282 6%,#e88484 6%,#e88781 11%,#e99185 22%,#ea9483 28%,#eb9984 30%,#eaa885 47%,#edaf86 51%,#ebb285 55%,#edb487 56%,#edc588 74%,#f0c88a 74%,#f1ca89 76%,#efce87 83%,#f1d188 85%,#eed98a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88182', endColorstr='#eed98a',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.image-text{
    font-family: 'mont-bold';
    color: #F9F3DC;
    font-size: 18px;
}
.team-text{
	padding-bottom: 95px;
}
.gradient-icon{
	font-size: 25px;
	margin-bottom: 5px;
}
.blank-block{
	background-color: #95E1D4;
	z-index: -1;
	width: 360px;
	position: absolute;
	left: 15px;
    top: 0px;
}
.first-block{
	height: 236px;
}
.second-block{
	height: 445px;
}
