.article-work-service{
	margin-top: 110px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.block-images{
	width: 480px;
}
.gradient-image-text{
	font-size: 15px;
    font-family: 'roboto-lightitalic';
}
.design-text{
	text-align: center;
	padding: 70px 0px;
}
.seperate{

}
