.article-work-service{
	margin-bottom: 150px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.gradient-image-text{
	font-size: 15px;
    font-family: 'roboto-lightitalic';
}
.design-text{
	text-align: center;
	padding: 107px 0px;
}


