.display__container {
	padding-top: 120px;
	padding-bottom: 80px;
}
.display__image {
	width: 50%;
  margin-left: 260px;
  margin-bottom: 30px;
}
.display__content {
	margin-top: 70px;
}
.display__row {
  margin-bottom: 30px;
}
.display__service {
	text-align: center;
}
.display__service p {
  padding: 0px 30px;
}
.display__icon .fa {
	border: 1px solid #F5F5F5;
  border-radius: 50%;
  font-size: 35px;
  color: #8dc63f;
  background: #E6F2D4;
  transition: all .2s ease-in-out;
  width: 112px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.display__service:hover .fa {
	color: #FFFFFF;
  background: #F38181;
}
.display__service-title {
	margin-top: 25px;
  margin-bottom: 10px;
}

@media (max-width: 767px) { 
  
  .display__service {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) { 

  .display__image {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  } 

}
