.header-container{
	margin-bottom: 30px;
}
.logo{
	text-align: left;
    display: inline-block;
    margin-right: 200px;
    font-size: 30px;
    font-weight: bold;
}
header nav {
	display: inline-block;
	text-align: right;
}
header nav a{
	color: #000000;
	margin-right: 30px;
}
header nav a:hover{
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.header-colored-link {
	display: inline-block;
    border: 1px solid #2D6CDF;
    background: #2D6CDF;
    padding: 10px;
}
.header-colored-link a{
	color: #ffffff;
}