.banner {
	background-image: url(images/home-image.jpg);
	width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 250px;
}
.header-logo {
	text-align: left;
  display: inline-block;
  color: white;
}
.bold-text {
	font-weight: bold;
}
header .main-navigation {
  display: inline-block;
  float: right;
}
header .main-navigation a {
  color: white;
  margin-left: 30px;
}
header .main-navigation a:hover {
	color: #FCC72C;
	transition: all .2s ease-in-out;
}
.banner-title {
  text-align: center;
  margin-bottom: 15px;
  color: white;
  margin-top: 200px;
}
.banner-intro {
  text-align: center;
  color: white;
}
.banner-intro a {
	color: #FCC72C;
}
.banner-intro a:hover {
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}
.btn {
	background: #FCC72C;
	color: white;
	transition: all .2s ease-in-out;
}
.banner-button {
	display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 240px;
  height: 45px;
}
.btn:hover {
	color: white;
	font-weight: bold;
	background: #2D6CDF;
}