.user-container {
	padding-bottom: 100px;
}
.user-comment {	
  position: relative;
  margin-top: 60px;
  padding: 50px;
  font-style: italic;
  border: 1px solid #ccc;
  transition: box-shadow 0.2s linear;
}
.user-comment:hover {
  box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.5);
}
.user-image {
	width: 6%;
  position: absolute;
  top: -30px;
  left: 535px;
  border: 7px solid white;
  border-radius: 50%;
}
