.footer__block {
	background: #393E46;
	padding-top: 50px;
}
.footer__block a {
	color: #848484;
	transition: all .2s ease-in-out;
	text-decoration: none;
}
.footer__title {
	color: white;
	margin-bottom: 20px;
}
.footer__text {
	display: block;
	color: #9C9FA3;
}
.footer__link ul {
	list-style-type: none;
  padding-left: 0;
}
.footer__link ul li {
	margin-bottom: 10px;
}
.footer__link ul li a:hover {
	color: #2D6CDF;
}
.footer__bottom-content {
	text-align: center;
	margin-top: 100px;
}
.footer__bottom-content a:hover {
	color: white;
}
.footer__social-link {
	font-size: 30px;
	margin-bottom: 15px;
}
.footer__social-link a {
	margin: 15px;
}
@media (max-width: 425px) { 

  .footer__top-content {
    text-align: center;
  }

  .footer__bottom-content {
		margin-top: 20px;
  }

  .footer__col {
    margin-bottom: 40px;
  }

}