.address__container {
	margin-bottom: 120px;
	margin-top: 70px;
}
.address__list {
	list-style-type: none;
	padding-left: 0;
}
.address__list .fa {
	margin-right: 15px;
}
.address__input-group {
	width: 100%;
}
.message-input {
	margin-top: 30px;
	margin-bottom: 40px;
}
textarea {
	resize: none;
}
