.blog__container {
	background-color: #F5F5F5;
  padding-top: 150px;
  padding-bottom: 150px;
}
.second-blog {
  padding-top: 0px;
}
.blog__content {
	margin-top: 70px;
}
.blog__info {
	text-align: left;
}
.blog__intro {
	margin-bottom: 20px;
  margin-top: 25px;
}
.blog__admin {
	font-style: italic;
  display: inline-block;
  margin-bottom: 15px;
}
.blog__comment {
	font-style: italic;
  display: inline-block;
  float: right;
}
.blog__comment .glyphicon {
  color: #FCC72C;
}
.blog__link a {
  color: white;
}