.footer__content {
	background-color: #222831;
	text-align: center;
	padding-top: 50px;
  padding-bottom: 70px;
  font-size: 15px;
}
.footer__link {
	font-size: 30px;
	margin-bottom: 15px;
}
.footer__link a {
	font-size: 30px;
  margin: 15px;
}
.footer__text {
	display: block;
}