.info__container {
	padding-bottom: 90px;
	padding-top: 30px;
}
.info__service-number {
	font-style: italic;
  color: #1FB5F6;
  border-top: 2px solid #1FB5F6;
  width: 4%;
  padding-top: 5px;
}
.info__icon {
	font-size: 180px;
	display: flex;
  justify-content: center;
  align-items: center;
  color: #FCC72C;
  padding-top: 30px;
  transition: all .2s ease-in-out;
}
.info__service-info:hover .info__icon {
  color: #F38181;
}
.info__service-info {
	margin-top: 80px;
}