body, html{
	font-size: 17px;
	height: 100%;
}
.article-header-background{
	background-image: url(images/bg-header.jpg);
	background-size: cover;
    padding-top: 300px;
    background-position: center;
}
.article-header-title{
    text-align: center;
    color: white;
    font-size: 70px;
}
.article-header-text{
	text-align: center;
	color: white;
	font-size: 25px;
}
.article-header-text .header-text-info{
	font-style: italic;
	font-weight: bold;
}
.article-header-text .header-text-toolkit{
	color: #AFBEE5;
}
.article-header-bonus{
	border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
    display: table;
    margin-top: 65px;
}
.header-bonus{
	font-weight: bold;
}
.fa-diamond{
	margin-right: 5px;
}
.article-header-icons{
	text-align: center;
	margin-top: 270px;
	padding-bottom: 50px;
}
.icon{
	display: inline-block;
	font-size: 20px;
	color: #AFBEE5;
}
.service-twitter{
    margin-right: 5px;
}
.service-facebook{
	border-left: 1px solid #AFBEE5;
	border-right: 1px solid #AFBEE5;
	padding: 0px 15px;
}
.service-linkedin{
    margin-left: 10px;
}
.share-count{
    color: white;
    font-size: 15px;
    margin: 7px;
}
.article-mock-background{
	background-image: url(images/mock.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.article-mock-text{
    padding-top: 90px;
    padding-bottom: 330px;
}
.article-title{
    margin-bottom: 20px;
}
.service-container{
	margin-top: 50px;
	margin-bottom: 80px;
}
h2{
   font-size: 30px;
   margin-bottom: 0px;
   text-align: center;
}
.service-info{
	font-weight: bold;
}
.service-icons{
	margin-bottom: 10px;
}
.service-icons .glyphicon{
	border: 4px solid #F5F5F5;
    border-radius: 50%;
    font-size: 30px;
    padding: 25px;
}
.service-line{
	margin: 30px 0px;
}
.highligh-img-wrapper{
	width: 100%;
	background-position: center;
	margin-bottom: 70px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.subscription-container{
	padding-bottom: 110px;
}
ul{
	padding-left: 0px;
	list-style-type: none;
}
li{
	border-bottom: 1px solid lightgray;
    padding: 15px;
}
li:last-child{
	border-bottom: none;
}
.subscription-list{
    margin-top: 60px;
}
.choice-name-personal{
    border: 1px solid #ECEFF4;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ECEFF4;
    margin-bottom: 25px;
}
.choice-name-professional{
    border: 1px solid #6C59B3;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #6C59B3;
    margin-bottom: 25px;
    color: white;
}
.choice-name-enterprise{
    border: 1px solid #ECEFF4;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ECEFF4;
    margin-bottom: 25px;
}
.choice-prices{

}
.currency{
	position: absolute;
    font-size: 30px;
    margin-top: 20px;
}
.number{
	font-size: 70px;
    margin-left: 20px;
    font-weight: bold;
}
.month{
	font-size: 14px;
    color: #B2B3B7;
}
.choice-advantages{

}
.personal-choice {
	margin-top: 70px;
    padding-bottom: 25px;
}
.button-choice-personal {
	border: 1px solid #6C59B3;
    border-radius: 30px;
    color: #6C59B3;
    padding: 15px 50px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}
.enterprise-choice{
    margin-top: 70px;
    padding-bottom: 25px;
}
.button-choice-enterprise{
    border: 1px solid #6C59B3;
    border-radius: 30px;
    color: #6C59B3;
    padding: 15px 50px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}.professional-choice{
    margin-top: 70px;
    padding-bottom: 25px;
}
.button-choice-professional{
	border: 1px solid #6C59B3;
    border-radius: 30px;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    background-color: #6C59B3;
}
.subscription-personal{
    display: inline-block;
    text-align: center;
    border: 1px solid #ECEFF4;
    border-radius: 3px;
}
.subscription-professional{
    display: inline-block;   
    text-align: center;
    border: 2px solid #6C59B3;
    border-radius: 3px;
}
.subscription-enterprise{
    display: inline-block;  
    text-align: center;
    border: 1px solid #ECEFF4;
    border-radius: 3px;
}
.introduction-container{
	margin-bottom: 90px;
    padding-top: 50px;
}
.introduction-title{
    margin-bottom: 60px;
    text-align: center;
}
.introduction-block-1{
    padding-right: 60px;
}
.introduction-block-2{
    border-left: 1px solid lightgray;
    padding-left: 60px;
}
.sign-up-button{
	border: 1px solid #6C59B3;
    border-radius: 30px;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 13px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    background-color: #6C59B3;
    display: inline-block;
}
.sign-up-container{
    
}
.sign-up-title{
    margin-bottom: 50px;
}
.checkbox{
	text-align: left;
	margin-top: 25px;
	padding-bottom: 80px;
}
.service-term{
	text-decoration: underline;
}
input[type="checkbox"]{
  width: 30px;
  height: 20px;
}
.checkbox-text{
	margin-left: 10px;
	color: lightgray;
}
.article-footer{
	background-color: #313038;
	color: white;
	padding-top: 100px;
	text-align: right;
	font-weight: bold
}
.footer-text{
    margin-right: 350px;
    padding-bottom: 100px;
}
.seperate-text{
	font-weight: normal;
}
a{
	color: white;
	text-decoration: none;
	margin: 15px;
}
a:link{
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
}
#myBtn{
	background-color: #313038;
	border: none;
	cursor: pointer;
}
.article-block{
    width: 1000px;
    margin: auto;
}
.article-content{
	background-color: #313038;	
	height: 343px;
    padding: 90px;
}
.article-text{
	color: white;
	font-weight: bold;
}
img{
	width: 100%;
}
.featured-article{
    color: white;
    background-color: #2B8BE2;
    padding: 5px 10px;
    text-align: center;
    display: table;
    font-size: 12px;
    font-weight: bold;
    border-radius: 25px;
    margin-bottom: 10px;
}
.article-icons{
	color: #ADADAF;
	margin-top: 20px;
}
.article-icons .icons-text{
	font-family: arial;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}